@model Skopje_charging_stations.Models.ChangeFirstNameViewModel
@{
    ViewBag.Title = "Promeni Ime";
}

<h2>Promeni ime</h2>

@using (Html.BeginForm("ChangeFirstName", "Manage"))
{
    <div class="form-group">
        <label>Ime</label>
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Promeni</button>
}